//reseteo
* {
	margin: 0;
	padding: 0;
}
//cierre reseteo
//general
@mixin centrar {
	display: flex;
	justify-content: center;
	align-items: center;
	align-self: center;
}
.logo {
	@include centrar();
	background-color: white; 
}

.logo img:hover {
	transform: translateY(-5px);
	transition-duration: 2s;
}

.logo img:active {
	transform: translateY(25px);
}


h1 {
	color: #2E2E2E;
	word-spacing: 3px;
	text-align: center;
	margin: 20px;
	padding: 20px;
  	animation-name: text-focus-in;
  	animation-duration: 1s;
  	animation-timing-function: ease;
  	animation-delay: 0s;
  	animation-iteration-count: 1;
  	animation-direction: normal;
  	animation-fill-mode: none;
}

@keyframes text-focus-in {
	0%{
	  filter: blur(12px);
	  opacity: 0;
	}
	100%{
	  filter: blur(0);
	  opacity: 1;
	}
  }

h2{
	text-align: center;
	font-size: 30px;
	margin: 15px;
	padding: 15px; 
	background: linear-gradient( to left, #E0EAFC, #CFDEF3);
	border-radius: 12px;
}

h3 {
	text-align: center;
	font-size: 30px;
	margin: 15px;
	padding: 15px; 
	background: linear-gradient( to left, #E0EAFC, #CFDEF3);
	border-radius: 12px;
}


h1, h2, h3, h4, h5, h6 {font-family: "Bebas Neue" Tahoma, sans-serif ; text-transform: uppercase;}

* {
	font-family: tahoma , sans-serif;
}

a {
	text-decoration: none;
}

p {
	font-family: 'Ubuntu', sans-serif;
}

.parallax{
	background-image: url(../assets/img/parallax.jpg);
	height: 750px;
	background-attachment: fixed;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
}


.bienvenida, .imagenBienvenida {
	margin: 10px;
	padding: 10px;
	@include centrar();
	flex-wrap: wrap;
}

.bienvenida b, .bienvenida a {
	padding: 0 5px;
}

.bienvenida {
	background-color: #6DD5FA;
	padding: 10;
	margin: 0;
}

.imagenBienvenida {
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	margin: 0;
}

.nosotros {
	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
}

.nosotros__texto {
	padding: 15px;
}

.nosotros__texto p {
	text-align: center;
	font-size: 35px;
}

.nosotros__texto h3 {
	font-size: 50px;
	text-align: center;
}


.navbar {
	font-size: 100%;
}


.clima {
	display: flex;
	align-self: flex-end;
}

.info {
	@include centrar();
	flex-direction: column;
	font-size: 25px;
	margin: 20px;
	padding: 15px; 
}

.util {
	border: 5px solid black;
	text-align: center;
	padding: 40px 200px;
	background: linear-gradient(to right, #076585, #fff);
	@include centrar();
}

.widgets {
	margin: 25px;
	padding: 30px;
	display: flex;
	flex-direction: column;
	justify-content: center;
}

.clima {
	display: flex;
	justify-self: flex-end;
}

.tour a{
	text-decoration: none; 
	margin-top: 2px;
}

.tour span{
	margin: 5px;
}

//cierre general

//redes sociales



.redesSociales{
	list-style-type: none;
	text-align: center;
}

.footer {
	@include centrar();
	background-color: #e3f2fd;
	padding: 20px;
}

.footer ul {
	margin: 0px 10px;
	padding: 0px 10px;
}

.footer ul li{
	
	padding: 5px;
	display: inline;
	margin: 5px;
}


.footer ul li a{ 
	margin: 5px;
	padding: 15px;
}

.logos {
	width: 8%; 
	padding: 10px;
}

.logos:hover {
	animation-name: footer;
	animation-iteration-count: 1;
	animation-timing-function: ease;
	animation-duration: 1.7s;
	animation-delay: 0s; 
	animation-fill-mode: forwards;
}


@keyframes footer {
	0% {/*transform: scale(1.05 , 1.05);*/ transform: translateY(-0.5px);}
	50% {/*transform: scale(1 , 1);*/ transform: translateY(-7px);}
	100% {/*transform: scale(1.05 , 1.05);*/ transform: translateY(-7px);}
}

//cierre redes sociales